*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

main{

    display: flex;
    align-items: start;
    padding: 30px ;
    justify-content: center;
}
/* .telefon{
    width: 700px;
} */

.form{
    display: flex;
    flex-direction: column;
    gap: 10px;
    border: 1px solid lightgray;
    padding: 40px 40px 30px 40px;
    align-items: center;
}
.form input{
    width: 260px;
    height: 36px;
    border: 1px solid lightgray;
    padding-left: 10px;
    border-radius: 5px;
    
}
.form input::placeholder{
    font-size: 12px;
}

input[type=submit]{
    background-color: #4cb5f9;
    color: white;
    font-weight: bold;
    border-radius: 10px;
}
.logo-text{
    width: 200px;
}
.logo-text img{
    width: 100%;
}


.cizgi{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    gap: 10px;
    color: rgb(150, 150, 150);
    margin: 10px 0px;
}
.cizgi div{
    border: 1px solid lightgray;
    height: 0px;
    width: 35%;
}
.facebook{
    color: #385185;
   
}
.facebook i{
    margin-right: 5px;
}
.sifre{
    color: #00376B;
    font-size: small;
    margin-top: 10px;
}
.kaydol{
    margin:10px 0px ;
    border: 1px solid lightgray;
    padding: 20px;
    text-align: center;
}

.kaydol p a{
    color: #4cb5f9;
}
.indir{
    text-align: center;
}
.indir p {
    margin: 20px 0px;
}
.indir div{
    display: flex;
    height: 40px;
    justify-content: center;
}

@media (max-width:850px){
    .telefon{
        display: none;
    }
}
